<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122031193516-kr8btdntudle75evvlk7c14dfds8d4mb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122031193516-kr8btdntudle75evvlk7c14dfds8d4mb</string>
	<key>API_KEY</key>
	<string>AIzaSyDvpMwJirwvBM5BnnuNdWE_Ae1uGsVEb-c</string>
	<key>GCM_SENDER_ID</key>
	<string>122031193516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.PatientMedicalRecords</string>
	<key>PROJECT_ID</key>
	<string>patientmedicalrecords-788c5</string>
	<key>STORAGE_BUCKET</key>
	<string>patientmedicalrecords-788c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122031193516:ios:3619cc56f1192bfe150e09</string>
	<key>DATABASE_URL</key>
	<string>https://patientmedicalrecords-788c5.firebaseio.com</string>
</dict>
</plist>